name: 'Create AWS Resource'

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  terraform:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::438985216510:role/GitHubActionsOIDCRole
        aws-region: "${{ secrets.AWS_REGION }}" # Or use a workflow input

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Apply
      env:
        TF_VAR_resource_type: ${{ secrets.RESOURCE_TYPE }}
        TF_VAR_instance_name: ${{ secrets.INSTANCE_NAME }}
        TF_VAR_bucket_name: ${{ secrets.BUCKET_NAME }}
        TF_VAR_db_instance_identifier: ${{ secrets.DB_INSTANCE_IDENTIFIER }}
        TF_VAR_db_engine: ${{ secrets.DB_ENGINE }}
        TF_VAR_region: ${{ secrets.AWS_REGION }}
      run: terraform apply -auto-approve
